/* Font-Family */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* font-family: 'Open Sans', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

/* Nav-Bar */

nav {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	height: 90px;
	background-color: #111027;
	width: 100%;
	padding: 1.2rem 5%;
}

#fix_color {
	color: #f8a905;
}

.header0 img {
	/* min-height: 2vh; */
	height: 100%;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #fff;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.nav-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-left: 5%;
}

.nav-item {
	margin-left: 4rem;
}

.nav-link {
	font-weight: 400;
	color: rgb(227, 227, 227);
}

.nav-link:hover {
	color: #f8a905;
}

.nav-logo {
	font-size: 2.1rem;
	font-weight: 500;
	color: #482ff7;
}

@media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -200%;
		top: 5rem;
		flex-direction: column;
		background-color: #f8a905;
		width: 100%;
		/* border-radius: 10px; */
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
		margin-left: 0rem;
	}

	.nav-menu.active {
		left: 0;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		margin-top: auto;
		margin-bottom: auto;
		display: block;
		cursor: pointer;
	}

	#fix_color {
		color: #fff;
	}
}

/* Home-Page */
.block {
	display: flex;
	justify-content: space-evenly;
	background-color: #111027;
	padding: 10% 5%;
	/* min-height: 750px; */
}

.right {
	width: 50%;
}

.heading {
	width: 80%;
}

.right hr {
	width: 90%;
	margin: 1% 0;
}

.heading h1 {
	color: #f8a905;
	font-size: 5vw;
}

.intro {
	width: 90%;
	padding: 3% 0;
}

.intro p {
	color: white;
	font-size: 1.5vw;
	line-height: 1.5;
	text-align: left;
}

.link_button {
	margin: 3% 0;
}

.link_button a {
	color: #f8a905;
	text-decoration: none;
	border-radius: 30px;
	padding: 1% 3%;
	border: 2px solid #f8a905;
}

.left {
	width: 50%;
}

.left img {
	width: 100%;
}

@media only screen and (max-width: 425px) {
	.block {
		display: flex;
		flex-direction: column;
	}

	.right {
		width: 100%;
	}

	.heading {
		padding: 5% 0;
	}

	.heading h1 {
		font-size: 18vw;
	}

	.right hr {
		width: 100%;
	}

	.intro {
		padding: 8% 0;
	}

	.intro p {
		font-size: 1rem;
	}

	.left {
		width: 100%;
		padding: 10% 0;
	}
}

/* Why OliveTech */

.about {
	text-align: center;
	background-color: #f8a905;
	padding: 5%;
}

.about h1 {
	color: #fff;
	font-size: 3vw;
}

.container {
	display: flex;
	justify-content: space-evenly;
	margin: 5% 0;
}

.card {
	padding: 5% 3%;
	margin: 2%;
	border: 5px solid #fff;
}

@media only screen and (max-width: 425px) {
	.about h1 {
		font-size: 7vw;
	}
	.container {
		display: flex;
		flex-direction: column;
		/* margin: 10% 0; */
	}

	.card {
		margin: 8% 0;
	}
}

/* About OliveTech */
.intro {
	text-align: center;
	width: 100%;
}

.intro h1 {
	color: #f8a905;
	font-size: 4vw;
	padding: 5%;
}

.video iframe {
	/* margin: 5%; */
	width: 80vw;
	height: 45vw;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	margin: 3% 0 10% 0;
}

@media only screen and (max-width: 425px) {
	.intro h1 {
		font-size: 7vw;
	}
}

/* Customer's Reviews */
.review {
	display: flex;
	justify-content: space-evenly;
	padding: 5% 8%;
	background-color: #f8a905;
}

.card1 h1 {
	font-size: 3vw;
}

.card1 {
	width: 25%;
	padding: 3%;
	color: #fff;
}

.card1 i {
	font-size: 3vw;
}

@media only screen and (max-width: 425px) {
	.review {
		flex-direction: column;
	}

	.card1 h1 {
		font-size: 3rem;
		padding: 8% 0;
	}

	.card1 {
		width: 100%;
		padding: 5% 0;
	}
}

/* Providers */
.providers {
	width: 100%;
	text-align: center;
}

.header {
	color: #f8a905;
	font-size: 2vw;
	margin: 5%;
}

.header h1 {
	margin: 3%;
}

.block1 {
	/* width: 30%; */
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5%;
}

.block1 img {
	height: 18vw;
	align-items: center;
	padding: 3%;
}

#spin {
	color: #111027;
	font-size: 3vw;
	font-weight: 900;
	background-color: #f8a905;
	padding: 1% 3%;
	border-radius: 50px;
}
#spin:after {
	content: "";
	animation: spin 4s linear infinite;
}
@keyframes spin {
	0% {
		content: "GCP";
		color: #fff;
	}
	50% {
		content: "AWS";
		color: #fff;
	}
	100% {
		content: "Azure";
		color: #fff;
	}
}

@media only screen and (max-width: 425px) {
	.header h1 {
		font-size: 7vw;
	}

	.block1 {
		flex-direction: column;
	}

	.block1 img {
		height: 0%;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	#spin {
		font-size: 7vw;
	}
}

/* New-Letter */

.subscribe {
	text-align: center;
	padding: 7%;
	background-color: #f8a905;
}

.subscribe h1 {
	color: #fff;
	font-size: 5vw;
}

.subscribe p {
	color: black;
}

.content {
	margin: 2%;
	width: 100%;
}

.subscription input {
	padding: 1% 2%;
	border-radius: 30px;
	border: none;
	width: 30%;
	border: 1px solid black;
}

.submit-email {
	background-color: #fff;
	font-weight: 800;
	border: 1px solid black;
	padding: 1% 2%;
	border-radius: 30px;
}

@media only screen and (max-width: 425px) {
	.subscribe {
		padding: 10% 0;
	}
	.subscribe h1 {
		font-size: 7vw;
	}
	.subscription {
		width: 80%;
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}

	.subscription input {
		width: 100%;
		margin: 8% 0;
	}

	.subscribe p {
		margin-top: 5%;
	}
}

/* In-Touch */
.in-touch {
	padding: 5% 8%;
	/* margin: 1% 0; */
	background-color: #111027;
}

.in-touch h2 {
	color: #f8a905;
}

.in-touch h1 {
	color: #fff;
	font-size: 4vw;
	padding: 1% 0;
}

@media only screen and (max-width: 425px) {
	.in-touch h1 {
		font-size: 7vw;
	}
}

/* Footer */
footer {
	border-top: 1px solid hsla(0, 0%, 99.2%, 0.1);
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #111027;
}

#footer-top {
	padding: 40px 80px;
	display: flex;
	justify-content: space-between;
}

#footer-top ul {
	text-align: left;
}

#footer-top ul li {
	list-style-type: none;
}

#footer-top ul li a {
	display: block;
	color: #a09fa9;
	text-decoration: none;
	padding: 20px 0px;
}

#footer-top ul li a b {
	color: #f2f2f2;
}

#footer-top img {
	height: 80px;
	margin-top: auto;
	margin-bottom: auto;
}

#footer-bottom {
	border-top: 1px solid hsla(0, 0%, 99.2%, 0.1);
	width: 100%;
	padding: 30px 80px;
	display: flex;
	justify-content: space-between;
	text-align: left;
}

#footer-bottom ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 10px;
	color: white;
}

#footer-bottom ul li a {
}

.center-text {
	margin-left: auto;
	margin-right: auto;
}

.remove-background {
	background-color: transparent;
}

.left-link ul li a {
	text-decoration: none;
	list-style: none;
	color: white;
	padding: 10px 25px;
	border-radius: 30px;
	border: 2px solid #c58300;
}

#right-link ul {
	list-style: none;
}

#right-link ul li a {
	color: white;
	text-decoration: none;
	justify-content: space-between;
}

#right-link ul li a i {
	padding-right: 10px;
}

.fa-linkedin-in {
	color: #c58300;
}

.fa-twitter {
	color: #b17601;
}

.footer-bg {
	position: absolute;
	left: 0px;
	bottom: 0;
	/* top: 0; */
	z-index: 1;
}

@media only screen and (max-width: 425px) {
	#footer-top {
		flex-direction: column;
	}

	#footer-top ul {
		/* display: none; */
	}

	#footer-bottom {
		flex-direction: column;
		width: 100%;
		padding: 5% 5%;
	}

	.center-text {
		display: flex;
		padding: 5% 0;
	}

	.left-link {
		text-align: center;
		padding: 5% 0;
	}

	#right-link ul {
		width: 100%;
		display: table;
		text-align: center;
		font-size: 5vw;
	}
}
